@import url(/node_modules/primevue/resources/themes/bootstrap4-light-blue/theme.css);
@import 'https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext';

:root {
  --font-family: Calibri, Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:not([class*="pi "]) {
  font-family: var(--font-family) !important;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-d);
}

.p-button {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}

.p-button:hover:not(.p-button-secondary,
  .p-button-success,
  .p-button-info,
  .p-button-warning,
  .p-button-help,
  .p-button-danger,
  .p-button-text) {
  background-color: #ce9661 !important;
  border-color: #ce9661 !important;
  color: white !important;
}
.app {
  display: flex;
  height: 100vh;
}
.sidebar {
  width: 200px; /* Adjust sidebar width as needed */
  background-color: #ce9661;
}
.p-panelmenu .p-panelmenu-panel .p-panelmenu-header .p-panelmenu-header-content {
  background-color: #ce9661;
  border-color: #ce9661;
}
.p-panelmenu .p-panelmenu-panel .p-panelmenu-header:hover .p-panelmenu-header-content {
  background-color: #ce9661;
  border-color: #ce9661;
}
.p-panelmenu .p-panelmenu-panel .p-panelmenu-header.p-highlight .p-panelmenu-header-content {
  background-color: #ce9661;
  border-color: #ce9661;
}
.p-panelmenu .p-panelmenu-content{
  background-color: #ce9661;
  border-color: #ce9661;
}
.p-panelmenu{
  background-color: #ce9661;
}
.p-panelmenu .p-panelmenu-content{
  color: #ce9661;
}
.main-content {
  flex: 1; /* Expand to fill remaining space */
  overflow-y: auto; /* Enable vertical scroll if content overflows */
}
.HomeViewPage {
  font-weight: 1000px;
}

span .p-highlight {
  background-color: #ce9661 !important;
  border-color: #ce9661 !important;
  color: white !important;
}

.p-paginator .p-paginator-pages .p-paginator-page,
.p-paginator-icon {
  color: #ce9661;
}

.p-menubar {
  height: 80px;
  border-radius: 0;
  border-style: none;
  padding-left: 5px;
  background-color: #ce9661;
}

.p-menuitem-link {
  color: rgb(0, 0, 0) ;
}
.p-menuitem-link
.p-menuitem {
  padding-left: 3px;
  
}
.p-card{
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;

}
.login-input{
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #000000;
}
.ggi-nav-item>a span {
  color: rgb(0, 0, 0) !important;
  font-weight: bold !important;
}

.ggi-nav-item{
  font-weight: bold;
  font-size: 18px;
}


.p-splitbutton-defaultbutton {
  margin: 0 !important;
}

.p-splitbutton-menubutton {
  margin: 0 !important;
  padding-right: 0.5em !important;
  padding-left: 0.5em !important;
}

.button-ggi-blue,
.button-ggi-blue button {
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 4px;
}

.button-ggi-set,
.button-ggi-set button {
  background-color: #ce9661;
  border-color: #ce9661;
  border-radius: 4px;
  margin-right: 1rem;
}

;

.button-ggi-set:hover,
.button-ggi-set button:hover {
  background-color: #ce9661 !important;
  border-color: #ce9661 !important;
}

.button-ggi-grey,
.button-ggi-grey button {
  background-color: #000000;
  border-color: #000000;
  border-radius: 4px;
}

.button-ggi-blue:hover,
.button-ggi-blue button:hover {
  background-color: #ce9661 !important;
  border-color: #ce9661 !important;
}

.button-ggi-grey:hover,
.button-ggi-grey button:hover {
  background-color: #ce9661 !important;
  border-color: #ce9661 !important;
}
.p-menuitem .p-focus {
  background-color: #000000;
}

.p-toast-detail,
.p-confirm-dialog-message {
  white-space: pre-wrap;
}

.bg-ggi-red {
  background-color: #e4eaee;
}
.login-page {
  margin-top: -100px;
}

.p-tabview-panel,
.p-tabview-panels {
  background-color: var(--surface-d) !important;
}

.p-datatable .p-datatable-thead>tr>th,
.p-datatable-header {
  background-color: #ce9661 !important;
  color: white !important;
  font-weight: bold;
}

.p-column-header-content>* {
  color: white !important;
}

.p-tabview-nav {
  background-color: white !important;
  border: 1px solid #dee2e6 !important;
  border-width: 0 0 2px 0 !important;
}

.p-tabview-nav-link {
  border-bottom: 2px solid lightgrey !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.p-tabview-nav-link:hover {
  color: #ce9661 !important;
  border-bottom: 2px solid #ce9661 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.p-highlight>.p-tabview-nav-link {
  color: #ce9661 !important;
  border-bottom: 2px solid #ce9661 !important;
}

.p-home-panel>* .p-panel-content {
  padding: 0 !important;
}

.text-white {
  color:#000000;
  font-size: 50px;
}

.text-ggi-red {
  color: #ce9661;
}

.p-blockui {
  opacity: 0;
}

.p-tag-ggi-grey {
  background-color: #ce9661;
}

.p-tag {
  white-space: nowrap;
}

.login-logo {
  width: 200px !important;
  height: max-content;
}
.estate-logo {
  width: 500px !important;
  height: max-content;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #ce9661;
  background: #ce9661;
}

.p-checkbox-box.p-highlight {
  border-color: #ce9661 !important;
  background: #ce9661 !important;
}

.p-datatable .p-datatable-tbody>tr.p-highlight {
  background: #ce9661;
}

.tag-count {
  background: #ce9661;
}

.p-column-filter-row .p-column-filter-menu-button,
.p-column-filter-row .p-column-filter-clear-button {
  color: white;
}

.p-column-filter-menu-button.p-column-filter-menu-button-active,
.p-column-filter-menu-button.p-column-filter-menu-button-active:hover {
  background: #0F7BA0;
}

.p-column-filter-overlay .p-column-filter-row-items .p-column-filter-row-item.p-highlight {
  background: #0F7BA0;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background: #0F7BA0;
}

@keyframes p-progress-spinner-color {

  100%,
  0% {
    stroke: #C02026;
  }

  50% {
    stroke: #0F7BA0;
  }
}